/*ЦВЕТА----------------------------------*/
/*
1. желтый
background-color: #e6d787;

2. голубой
background-color: #06bcb3;

3. темно-голубой
background-color: #048280;

4. коричневый
background-color: #a47f62;

5. лиловый
background-color: #b1abd4;

6. иссине-зеленый
background-color: #304c5a;

*/

/*ЦВЕТА----------------------------------*/

/*ОБНУЛЕНИЕ----------------------------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*----ОБНУЛЕНИЕ----------------------------------*/

/*ШРИФТЫ----------------------------------------*/
@font-face {
  font-family: "GrtskPeta-Medium";
  src: url("../fonts/GrtskPeta-Medium.woff2") format("woff2"), url("../fonts/GrtskPeta-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GrtskPeta-Bold";
  src: url("../fonts/GrtskPeta-Bold.woff2") format("woff2"), url("../fonts/GrtskPeta-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

._container {
  margin: 0 auto;
  max-width: 1360px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-family: GrtskPeta-Medium;
  line-height: 166.667%;
  letter-spacing: -0.36px;
}
/*----ШРИФТЫ-------------------------------------*/

/*----КНОПКИ-------------------------------------*/

.button {
  border-radius: 4px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  padding: 8px 16px;
  margin: 20px auto;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: background-color 0.2s linear;
  background-color: #06bcb3;
  cursor: pointer;
}

.button:hover {
  background-color: #048280;
}

.button:active {
  background-color: #304c5a;
}
/*----КНОПКИ-------------------------------------*/
